<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      *ngIf="isAuth"
    >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngIf="isAuth">
      <a mat-list-item href="#" routerLink="/cars">Voitures</a>
      <a mat-list-item href="#" routerLink="/clients"> Clients </a>
      <a mat-list-item href="#" routerLink="/cars"> Contrats</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Location de Voiture</span>
      <div class="text-right w-100 top-btn">
        <a class="nav-item nav-link" (click)="logout()" *ngIf="isAuth" >Logout</a>
        <a class="nav-item nav-link" routerLink="/login" *ngIf="!isAuth" >Login</a>
      </div>
      
    </mat-toolbar>
    <div class="container-fluid my-3">
      <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>
