<div class="row">
    <div class="col-md-3 mb-5" *ngFor="let car of cars">
        <mat-card class="example-card" >
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{ car.name_car }}</mat-card-title>
              <mat-card-subtitle>{{ car.price }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button (click)='getCarById( car.id_car )'>SHARE</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>

